.language-bar {
  ion-grid {
    padding: 0px;
  }
  ion-col {
    text-align: center;
    span {
      display: inline-block;
      margin-top: 7px;
    }
  }
}

.translate-btn {
  width: 100px;
  --border-radius: 20px !important;
}

.translation-wrapper {
  .button-wrapper {
    padding-left: 10px;
    padding-top: 5px;
    .translation-wrapper__btn {
      --padding-end: 5px;
      --padding-start: 5px;
    }
  }
  min-height: 20vh;
  margin-top: 20px;
  .translation-text {
    padding-top: 10px;
    font-size: var(--ion-font-size-18);
  }
}
