.error-container {
  text-align: center;
  min-height: 60px;
}

.error-container {
  .error-text {
    font-size: var(--ion-font-size-14);
    line-height: 26px;
    color: #8c8c8c;
    margin-top: 30px;
  }
}
