.logo-wrapper {
  position: relative;
  width: 100%;
  text-align: center;
  height: 0;

  .logo {
    font-family: "Comfortaa", "Roboto", "sans-serif";
    color: #9b79ab;
    margin-top: 3vh;
    margin-bottom: 0;
    font-size: 4vh;
  }
}

.lp-slides {
  height: 71%;
  .slide-wrapper {
    margin: 0 auto;
    max-width: 40vh;
    .lp-title {
      margin-top: 30px;
      margin-bottom: 0;
      font-size: var(--ion-font-size-18);
    }
  }
}

.lp-btn {
  width: 85%;
  margin: 5px auto 0;
  font-size: 14px;
  .btn-text {
    font-size: var(--ion-font-size-16);
  }
}

.landing-page {
  //padding: 0;
  // margin: 20px auto !important;
  // box-shadow: 1px 3px 20px 8px rgba(0, 0, 0, 0.15);
  // border-radius: 20px;
  max-width: 768px;
  margin: auto;
  height: calc(100vh - 30px);
}
// .landing-page__background {
//   background-image: linear-gradient(#f0ecfb, #b786e0);
//   height: 100vh;
// }

// @media only screen and (max-width: 600px) {
//   .landing-page {
//     padding: 0;
//     margin: 0 auto !important;
//     box-shadow: 1px 3px 20px 8px rgba(0, 0, 0, 0.15);
//     border-radius: 0px;
//   }
// }
