.exam-wrapper {
  .exam__title {
    font-size: var(--ion-font-size-20);
  }
  .exam__detail {
    ion-col {
      font-size: var(--ion-font-size-13);
      padding: 0 8px 0 20px;
    }
    ion-icon {
      font-size: 20px;
      position: absolute;
      left: -5px;
      top: -2px;
    }
  }
}