.cards-preview {
  height: 40%;
}

.lesson-info {
  height: 60%;
  .lesson-info__title {
    font-size: var(--ion-font-size-20);
  }
  .lesson-info__size {
    font-size: var(--ion-font-size-13);
  }
  .lesson-info__row {
    padding: 0 10px;
  }
  .menu-button {
    width: 95%;
    margin: auto;
    border-bottom: solid 5px #b589c9;
    .menu-icon {
      text-align: center;
      font-size: 30px;
      padding: 12px 0 0;
    }
    .menu-title {
      text-align: center;
      padding-bottom: 15px;
      margin: 0;
      font-size: var(--ion-font-size-13);
    }
  }
}

.padding-x {
  padding-left: 5%;
  padding-right: 5%;
}