.forgot-password-modal {
  --width: 90%;
  --max-width: 450px;
  ion-title {
    padding: 15px;
  }
  .popover-content {
    padding: 10px 15px;
    position: absolute;
  }

  .modal-footer {
    margin-top: 25px;
    .send-btn {
      margin-left: 10px;
    }
  }
  
}