.forgot-password-modal {
  --width: 90%;
  .popover-content {
    padding: 10px 15px;
    position: absolute;
    left: unset !important;
    right: 5% !important;
  }

  .modal-footer {
    margin-top: 25px;
    .send-btn {
      margin-left: 10px;
    }
  }
  
}