.send-question-modal {
  --width: 90%;
  --max-width: 650px;
  ion-title {
    padding: 15px;
  }
  .popover-content {
    padding: 5px 0 15px;
    position: absolute;
    top: 130px !important;
  }
  .modal-footer {
    margin-top: 15px;
    .send-btn {
      margin-left: 15px;
    }
  }
}
