.comment-modal {
  --height: 93%;
  --border-radius: 10px 10px 0 0;
  .modal-wrapper {
    position: absolute;
    bottom: 0 !important;
    font-size: 14px;
  }
  .modal-shadow {
    position: absolute;
    bottom: 0 !important;
  }
  .comment-list-wrapper {
    padding-top: 10px;
    b, p {
      display: block;
    }
  }
  .comment-wrapper {
    font-size: 14px;
    margin: 15px 20px;
    border-bottom: 1px solid #bbb;
  }
  .comment-input-wrapper {
    border-top: 1px solid #bbb;
    font-size: 14px;
  }
}