.post-comment-wrapper {
  font-size: 13px;
  margin: 15px 20px;
  border-bottom: 1px solid #bbb;
  position: relative;
}
.post-comment-title {
  padding: 10px 20px;
  font-size: var(--ion-font-size-14);
}
.post-info p {
  font-size: 12.5px;
}
.post-comment-input {
  border-top: 1px solid #bbb;
  font-size: 14px;
  --ion-item-background:#fff;
  ion-button {
    margin: 0;
  }
  bottom: 0;
  position: absolute;
  width: 100%;
}
.post-comment-delete {
  position: absolute;
  top: -5px;
  right: -10px;
}
