.create-modal {
  --height: 27.5%;
  --border-radius: 10px 10px 0 0;
  .modal-wrapper, .modal-shadow {
    position: absolute;
    bottom: 0 !important;
  }
  .create-modal-item {
    padding: 5px;
    ion-button {
      margin: 0;
    }
    .create-modal-item__icon {
      border-radius: 50%;
      border: 2px solid var(--ion-color-primary);
      width: 40px;
      height: 40px;
      position: relative;
      margin-right: 15px;
      ion-icon {
        position: absolute;
        top: 9px;
        left: 9.5px;
      }
    }
    .create-modal-item__title {
      font-size: var(--ion-font-size-14);
    }
  }
}