.hint-container {
  height: 210px;
  .hint-wrapper {
    width: 90%;
    height: 75%;
    margin-bottom: 45px;
    .hint-header,
    .hint-content {
      text-align: left;
      display: flex;
      padding-bottom: 7px;
      .hint-title {
        display: flex;
      }
    }

    .hint-header {
      padding-top: 15px;
    }

    .hint-content {
      img {
        height: 110px;
      }
      .hint-text {
        display: inline-block;
        padding-left: 15px;
      }
      .hint-button {
        margin-top: 13px;
      }
    }
  }
}
