.lesson-list-wrapper {
  padding-top: 10px;
  .lesson-wrapper {
    margin: 15px;
    .lesson-wrapper__title {
      font-size: var(--ion-font-size-16);
      font-weight: bold;
    }
    .lesson-wrapper__size {
      font-size: var(--ion-font-size-13);
      color: #aaa;
      font-weight: bold;
    }
    .lesson-wrapper__delete-btn {
      position: absolute;
      top: 20px;
      right: 5px;
    }
  }
}