.post-wrapper {
  width: 100%;
  margin: 10px 0;
  .post-content {
    color: initial;
    .post-info p {
      font-size: 12.5px;
    }
    .post-text {
      padding-top: 5px;
      word-break: break-word;
    }
    .post-thumbnail {
      width: 100vw;
      height: 100vw;
      max-width: 660px;
      max-height: 660px;
      margin-top: 10px;
      .post-img {
        border-radius: 10px;
      }
    }
  }
}
