.post-wrapper {
  width: 100%;
  margin: 5px 0;
  border-radius: 0px;
  .post-content {
    color: initial;
    .post-info p {
      font-size: 12.5px;
    }
    .post-text {
      padding-top: 5px;
      word-break: break-word;
    }
  }
}
