.user-info {
  padding: 15px 15px 0;
  .username {
    margin-top: 0;
    font-size: var(--ion-font-size-20);
  }
  .avatar-wrapper {
    position: relative;
    width: fit-content;
    margin: auto;
    .user-profile {
      border-radius: 50%;
      margin-bottom: 20px;
      width: 100px;
    }
  }
}
