.menu-btn {
  float: left;
  margin-left: 5px;
}

.section-wrapper {
  position: relative;
  .error-msg {
    height: 15vh;
  }
  .goal-label {
    font-size: 14px;
    text-overflow: initial;
    white-space: break-spaces;
  }
  .daily-object-bar {
    width: 57%;
    margin: 0 10px;
    padding: 3.5px 0;
    border-radius: 15px;
  }
}
