.error-container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 45%;
}

.error-container .error-text {
  font-size: min(16px, 4vw);
  line-height: 26px;
  color: #8c8c8c;
}