#appTabBar {
  ion-tab-button {
    &.tab-selected {
      ion-label {
        position: relative;
        bottom: -17px;
        transition: bottom 0.3s;
      }
      ion-icon {
        position: absolute;
        font-size: 25px;
        top: 0;
        transition: top 0.3s;
      }
    }

    ion-label {
      position: relative;
      bottom: -45px;
      transition: bottom 0.3s;
    }
    ion-icon {
      position: absolute;
      font-size: 25px;
      top: 8px;
      transition: top 0.3s;
    }
  }
}
