#appTabBar {
  ion-tab-button {
    &.tab-selected {
      ion-label {
        opacity: 1;
        height: auto;
      }
    }

    ion-label {
      opacity: 0;
      height: 0;
    }
    ion-icon {
      font-size: 25px;
    }
  }
}
