.search-result-item {
  .item-wrapper {
    width: 100%;
    .keyword {
      font-size: 14px;
      margin: 10px 0 5px;
    }
    .meaning {
      font-size: 12px;
      margin: 5px 0 10px;
    }
  }
}
