.course-detail-popup {
  --width: 50%;
  --max-width: 250px;
  .popover-content {
    padding: 0;
    position: absolute;
    top: 55px !important;
    left: unset !important;
  }
}

.course-info {
  margin-top: 10px;
  .course-info__text {
    font-size: 14px;
    margin-left: 10px;
  }
}